<hr>
<div class="container-fluid">
  <!--div class="col-md-2"> </div-->
  <div class="col-md-8 col-md-offset-2"> 
    <div class="footer-center" >
      <ul style="list-style-type:none">
        <li><a ui-sref="home">A.N.other</a></li>
      </ul>
    </div>
    <div class="footer-left">
      <ul style="list-style-type:none">
        <li><a ui-sref="home">Company</a></li>
        <li><a ui-sref="home">About</a></li>
        <li><a ui-sref="home">Jobs</a></li>
        <li><a ui-sref="home">Press</a></li>
        <li><a ui-sref="home">News</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <ul style="list-style-type:none">
        <li><a ui-sref="home">Useful Links</a></li>
      </ul>
    </div>
  </div>
  <!--div class="col-md-2"> </div-->
</div>
<div class="container-fluid last-line" ng-cloak>
   <span class="left">© Yalday, Inc.</span>
   <span class="right">
        <span><a ui-sref="home">Terms & Privacy</a></span>
        &nbsp;&nbsp;
        <span><a ui-sref="home">Site Map</a></span>
        <span class="fa fa-facebook-official" aria-hidden="true"></span>
        <span class="fa fa-instagram" aria-hidden="true"></span>
        <span class="fa fa-twitter" aria-hidden="true"></span>
    </span>
</div>