
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMerchantLabel">Create or edit a Merchant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.merchant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.merchant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.merchant.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.merchant.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.merchant.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.merchant.city"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postcode">Postcode</label>
            <input type="text" class="form-control" name="postcode" id="field_postcode"
                    ng-model="vm.merchant.postcode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.merchant.country"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="vm.merchant.category"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_backgroundColor">Background Color</label>
            <input type="text" class="form-control" name="backgroundColor" id="field_backgroundColor"
                    ng-model="vm.merchant.backgroundColor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.merchant.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phonenumber">Phonenumber</label>
            <input type="text" class="form-control" name="phonenumber" id="field_phonenumber"
                    ng-model="vm.merchant.phonenumber"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
