@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
font-family: 'Roboto Condensed', regular;
   /* color: #333;*/
     //  padding-bottom:40px;   /* Height of the footer */

}


a, a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
    color: #d3d1d1;
    text-decoration: none;
} 

.right{
    float:right;
}

.left{
    float:left;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}



/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
    a {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font: bold 81.25% "Roboto Condensed";
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 5px #444;
        pointer-events: none;
    }
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            display: inline-block;
        }
    }
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
    &:last {
        margin:0 !important;
    }
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre{
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > {
    tbody > tr > td {
        /* Align text in td vertically (top aligned by Bootstrap) */
        vertical-align: middle;
    }
    thead > tr > th > {
        .glyphicon-sort, .glyphicon-sort-by-attributes, .glyphicon-sort-by-attributes-alt {
            /* less visible sorting icons */
            opacity: 0.5;
            &:hover {
                /* full visible sorting icons and pointer when mouse is over them */
                /*opacity: 1;*/
                cursor: pointer;
            }
        }
    }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* ==========================================================================
Social button
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */









/* Added May 2017*/


.tagline {
    font-size: 30px;
    color: #ccc;
    text-align: center;
}

.searchText {
    width: 600px;
    height: 100px;
    border: 0px none;
    box-shadow: none;
}

.form-control:focus {
  border-color: #d3d1d1;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.navbar {    
  background: #fff;;
    border: none;
}

.nav {
  font: "Roboto Condensed";
  color: #ffffff;
}

.footer {
  font: "Roboto Condensed";
    background: #dddddd;
    color:    #FFFFFF; 

}




.last-line {font-size: 15px;}

.Field {
  display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d3d1d1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d3d1d1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d3d1d1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d3d1d1;
}



.indent {
    padding-left:10px;
}

.search-flext {
    border-left: 1px solid #d3d1d1;
    
    border-top-left-radius: 5px 5px;
    -moz-border-radius-topleft: 5px 5px;
    -webkit-border-top-left-radius: 5px 5px;

    border-bottom-left-radius: 5px 5px;
    -webkit-border-bottom-left-radius: 5px 5px;
    -moz-border-radius-bottomleft: 5px 5px;

}

.flext-field {
    flex: 1 0 8em;
    border-top: 1px solid #d3d1d1;
    border-bottom: 1px solid #d3d1d1;
    border-right: none;
    box-shadow: none;
    height: 60px;
    box-shadow: none;
    background: #fff;
    outline: none;
    font-size: 20px;
    font: "Roboto Condensed";
    box-shadow: 1px 1px 1px #dddddd;
    color: #ccc;
    padding-left:20px;
}

.misc-flext {
    border-left: none;
}

.search-btn {
    height: 60px;
    background: #fff; 
    box-shadow: 1px 1px 1px #dddddd;

    border-right: 1px solid #d3d1d1;
    border-top: 1px solid #d3d1d1;
    border-bottom: 1px solid #d3d1d1;

    border-top-right-radius: 5px 5px;
    -moz-border-radius-topright: 5px 5px;
    -webkit-border-top-right-radius: 5px 5px;

    border-bottom-right-radius: 5px 5px;
    -moz-border-radius-bottomright: 5px 5px;
    -webkit-border-bottom-right-radius: 5px 5px;

    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;

    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;

}

.fa-search {
  color: #d3d1d1;
}

.Field-is-search:before {
  /* Don't shrink or grow and use a default size */
  flex: 0 0 2.75em;

  /* ... */
    // Use flexbox to center the icon
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inline {
   display:inline-block;
   margin-right:5px;
   align: center;
}

.inline-results {
    display:inline-block;
   align: center;
   margin-right: auto;
   margin-left: auto;

}

.results-align {
    text-align: center;
  flex: 0 0 2.75em;
    
  /* ... */
    // Use flexbox to center the icon
  display: block;
  align-items: center;
  justify-content: center;
      margin: 0 auto; /* Added */
     /* Added */
}

.align-search{
    float: center;
}

.card {
    border: 1px solid #d3d1d1;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    padding: 10px;

    margin-bottom: 10px;
    
    height:150px;
}

.card-block {
    margin-left: 60px;
}

.popover-content {
    width:25rem;
}


.text-left {
    text-align: left;
}

.slide-image {
      height: auto;
      display: block;
      overflow: visible;
      width: 400px;
      margin-right: auto;
      margin-left: auto;
      float: none;
}

.card-img-left {
    float: left;
}

button:focus {outline:0;}
a:link {color:#000000;}

.results {
    display: inline;
}




.navbar-custom {
    border: 1px solid #dddddd ;
    border-radius:5px;
    padding:4px;
    margin-right:5px;
    box-shadow: 1px 1px 1px #dddddd;

}





.footer-left{ float: left; width: 33%; }
.footer-right{ float: right; width: 33%; }
.footer-center{ display: inline-block; width: 33%;}

$height-footer: 10px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    .footer-block {
      margin: 0px 0;
    }
  }
}


.noresize {
  resize: none; 
}


.accType {
    background-color:#2dde98;
    padding:10px;
}

.merchTick {
    width:20px;
    height:20px;
}

ul#manageList {
    list-style-type: none;
}